#musicbox *{
	padding: 0;
	margin: 0;
}
#musicbox{
	position: relative;
	width: 400px;
	background-color: #EEEEEE;
	padding: 6px;
}
#musicbox input{
	outline: none;
}
#musicbox p{
	text-align: center;
	width: 100%;
	font-family: "微软雅黑";
	font-size: 18px;
}

/*控制器组件*/
#mp_control{
	position: relative;
	height: 50px;
}
/*播放暂停按钮*/
#mp_playpause{
	position: absolute;
	height: 48px;
	width: 48px;
	border-radius: 24px;
	cursor: pointer;
}
/*停止按钮*/
#mp_stop{
	position: absolute;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	left: 50px;
}
/*时间显示*/
/*播放时间*/
#mp_time{
	border: 0;
	position: absolute;
	width: 60px;
	right: 61px;
	bottom: 11px;
	background: none;
}
/*歌曲时间*/
#mp_duration{
	border: 0;
	position: absolute;
	width: 60px;
	right: 0;
	bottom: 11px;
	background: none;
}
/*进度条*/
#mp_progress{
	position: absolute;
	left: 46px;
	top: 39px;
	width: calc(100% - 50px);
	height: 10px;
	border-radius: 5px;
	background-color: #66CCFF;
}


/*歌词框*/
#mp_lrcbox{
	position: relative;
	margin-top: 6px;
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: #FFFFFF;
}
#mp_lrcbox p{
	transition: margin-top 250ms, margin-bottom 250ms, font-size 360ms;
	line-height: 26px;
	white-space: nowrap;
}
#mp_lrcbody{
	position: absolute;
	width: 100%;
}
#mp_lrcbody .on{
	color: #66CCFF;
	margin: 10px 0;
	font-size: 22px;
}